@using ProductManagerUi.Extensions;
@{
    ViewData["Title"] = "Cycles";
}

<div class="moduleHeader">@ViewData["Title"]</div>

@(
Html.DevExtreme().DataGrid<ProductManagerDatabase.Database.Products.Cycle>()
    .DataSource(ds => ds.Mvc()
        .Controller("Cycle")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Name")
)
.RemoteOperations(true)
.Columns(columns =>
{

    columns.AddFor(m => m.Id).AllowEditing(false).FormItem(f => f.Visible(false));
    columns.AddFor(m => m.Name);
    columns.AddFor(m => m.Description);
    columns.AddFor(m => m.PriorityIndex);

})
.Editing(e =>
    {
        e.Mode(GridEditMode.Form)
        .AllowAdding(true)
        .RefreshMode(GridEditRefreshMode.Reshape)
        .AllowDeleting(true)
        .AllowUpdating(true)
        .UseIcons(true);
    })

.DataSourceOptions(c => c.Sort("name", false))
.SetDataGridDefaults(false, false)
)