@using ProductManagerUi.Controllers;
@using ProductManagerUi.Extensions;
@{
    ViewData["Title"] = "Index";
}

<div class="moduleHeader">@ViewData["Title"]</div>

@(
Html.DevExtreme().DataGrid<ProductManagerDatabase.Database.Products.Product>()
    .DataSource(ds => ds.Mvc()
        .Controller("Product")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
)
.RemoteOperations(true)
.Columns(columns =>
{

    columns.AddFor(m => m.Id).AllowEditing(false).FormItem(f => f.Visible(false));

    columns.AddFor(m => m.Model);

    columns.AddFor(m => m.RevisionCode);

    columns.AddFor(m => m.Notes);

    columns.AddFor(m => m.Description);

    columns.AddFor(m => m.Width);

    columns.AddFor(m => m.Height);

    columns.AddFor(m => m.Depth);

    columns.AddFor(m => m.Weight);

    columns.AddFor(m => m.BrandId).Lookup(BrandController.ProvideLookup);

})
.Editing(e =>
    {
        e.Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .RefreshMode(GridEditRefreshMode.Reshape)
        .AllowDeleting(true)
        .AllowUpdating(true)
        .UseIcons(true);
    })

.DataSourceOptions(c => c.Sort("id", true))
.SetDataGridDefaults()
)